<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="../controller/avlController.js" type="text/javascript"></script>
<input type="tel" value=""/>
<button type="submit" class="js-insert"/>